$color-bg: #F0F0F0;
$color-bg-secondary: #1A1A1A;


$primary-300: rgba(87, 87, 255, 0.5);
$primary-500: #5757FF;



$transition: all .3s ease-in-out;

$grey-300: #AEAEAE;
$grey-500: #727272;

$white: #FFFFFF;
$black: #121212;